In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
df = pd.read_excel('data/sample_dataset.xlsx', sheet_name=None)  #沒有sheet_name=None,只會讀第一個

In [9]:
df

{'passenger_info':      PassengerId                                               Name     Sex  \
 0              1                            Braund, Mr. Owen Harris    male
 1              2  Cumings, Mrs. John Bradley (Florence Briggs Th...  female
 2              3                             Heikkinen, Miss. Laina  female
 3              4       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
 4              5                           Allen, Mr. William Henry    male
 ..           ...                                                ...     ...
 887          888                       Graham, Miss. Margaret Edith  female
 888          889           Johnston, Miss. Catherine Helen "Carrie"  female
 889          890                              Behr, Mr. Karl Howell    male
 890          891                                Dooley, Mr. Patrick    male
 891          892                                   Dawson, Mr. Jack    male

       Age             Checkin Time              Boarding Time  \
 0    22.0  04-13-1912T00:00:00.000   04-14-1912T00:00:00-6:00
 1    38.0  04-13-1912T00:00:00.001   04-14-1912T00:00:00-6:01
 2    26.0  04-13-1912T00:00:00.002   04-13-1912T00:00:00-6:02
 3    35.0  04-13-1912T00:00:00.003   04-14-1912T00:00:00-6:03
 4    35.0  04-13-1912T00:00:00.004   04-14-1912T00:00:00-6:04
 ..    ...                      ...                        ...
 887  19.0  04-13-1912T00:00:00.887  04-14-1912T00:00:00-6:887
 888   NaN  04-13-1912T00:00:00.888  04-14-1912T00:00:00-6:888
 889  26.0  04-13-1912T00:00:00.889  04-14-1912T00:00:00-6:889
 890  32.0  04-13-1912T00:00:00.890  04-14-1912T00:00:00-6:890
 891  20.0  04-13-1912T00:00:00.891  04-14-1912T00:00:00-6:891

      Main Deck Entrance  South Entrance  North Entrance
 0                  True           False           False
 1                 False            True           False
 2                 False           False            True
 3                  True           False           False
 4                 False           False            True
 ..                  ...             ...             ...
 887                True           False           False
 888                True           False           False
 889                True           False           False
 890                True           False           False
 891                True           False           False

 [892 rows x 9 columns],
 'survival_info':      PID  Survived  Pclass     Fare
 0      1         0       3   7.2500
 1      2         1       1  71.2833
 2      3         1       3   7.9250
 3      4         1       1  53.1000
 4      5         0       3   8.0500
 ..   ...       ...     ...      ...
 886  887         0       2  13.0000
 887  888         1       1  30.0000
 888  889         0       3  23.4500
 889  890         1       1  30.0000
 890  891         0       3   7.7500

 [891 rows x 4 columns]}

In [10]:
df['passenger_info'].describe()

       PassengerId         Age
count   892.000000  715.000000
mean    446.500000   29.685552
std     257.642517   14.520852
min       1.000000    0.420000
25%     223.750000   20.000000
50%     446.500000   28.000000
75%     669.250000   38.000000
max     892.000000   80.000000

In [11]:
df['passenger_info'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   PassengerId         892 non-null    int64
 1   Name                892 non-null    object
 2   Sex                 884 non-null    object
 3   Age                 715 non-null    float64
 4   Checkin Time        891 non-null    object
 5   Boarding Time       890 non-null    object
 6   Main Deck Entrance  892 non-null    bool
 7   South Entrance      892 non-null    bool
 8   North Entrance      892 non-null    bool
dtypes: bool(3), float64(1), int64(1), object(4)
memory usage: 44.6+ KB

In [12]:
pd.pivot_table(df['passenger_info'],index='Sex')

,Age,Main Deck Entrance,North Entrance,PassengerId,South Entrance
Sex,,,,,
-999,12.333333,1.000000,0.000000,252.000000,0.000000
female,28.015564,0.993506,0.003247,433.837662,0.003247
m,20.000000,1.000000,0.000000,665.000000,0.000000
male,30.719129,0.998246,0.001754,456.103509,0.000000

In [13]:
df_passenger = df['passenger_info']
df_names = df_passenger['Name'].str.split(' ', expand=True)
full_df = pd.merge(df_passenger, df_names, how='outer', left_index=True, right_index=True)

In [14]:
full_df

,PassengerId,Name,Sex,Age,Checkin Time,Boarding Time,Main Deck Entrance,South Entrance,North Entrance,0,...,4,5,6,7,8,9,10,11,12,13
0,1,"Braund, Mr. Owen Harris",male,22.0,04-13-1912T00:00:00.000,04-14-1912T00:00:00-6:00,True,False,False,"Braund,",...,None,None,None,None,None,None,None,None,None,None
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,04-13-1912T00:00:00.001,04-14-1912T00:00:00-6:01,False,True,False,"Cumings,",...,(Florence,Briggs,Thayer),None,None,None,None,None,None,None
2,3,"Heikkinen, Miss. Laina",female,26.0,04-13-1912T00:00:00.002,04-13-1912T00:00:00-6:02,False,False,True,"Heikkinen,",...,None,None,None,None,None,None,None,None,None,None
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,04-13-1912T00:00:00.003,04-14-1912T00:00:00-6:03,True,False,False,"Futrelle,",...,(Lily,May,Peel),None,None,None,None,None,None,None
4,5,"Allen, Mr. William Henry",male,35.0,04-13-1912T00:00:00.004,04-14-1912T00:00:00-6:04,False,False,True,"Allen,",...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887,888,"Graham, Miss. Margaret Edith",female,19.0,04-13-1912T00:00:00.887,04-14-1912T00:00:00-6:887,True,False,False,"Graham,",...,None,None,None,None,None,None,None,None,None,None
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,04-13-1912T00:00:00.888,04-14-1912T00:00:00-6:888,True,False,False,"Johnston,",...,"""Carrie""",None,None,None,None,None,None,None,None,None
889,890,"Behr, Mr. Karl Howell",male,26.0,04-13-1912T00:00:00.889,04-14-1912T00:00:00-6:889,True,False,False,"Behr,",...,None,None,None,None,None,None,None,None,None,None
890,891,"Dooley, Mr. Patrick",male,32.0,04-13-1912T00:00:00.890,04-14-1912T00:00:00-6:890,True,False,False,"Dooley,",...,None,None,None,None,None,None,None,None,None,None
891,892,"Dawson, Mr. Jack",male,20.0,04-13-1912T00:00:00.891,04-14-1912T00:00:00-6:891,True,False,False,"Dawson,",...,None,None,None,None,None,None,None,None,None,None

In [15]:
df_survival = df['survival_info'].rename(columns={'PID':'PassengerId'})

In [16]:
all_df = pd.merge(full_df, df_survival, how='left', on='PassengerId')

In [17]:
all_df

,PassengerId,Name,Sex,Age,Checkin Time,Boarding Time,Main Deck Entrance,South Entrance,North Entrance,0,...,7,8,9,10,11,12,13,Survived,Pclass,Fare
0,1,"Braund, Mr. Owen Harris",male,22.0,04-13-1912T00:00:00.000,04-14-1912T00:00:00-6:00,True,False,False,"Braund,",...,None,None,None,None,None,None,None,0.0,3.0,7.2500
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,04-13-1912T00:00:00.001,04-14-1912T00:00:00-6:01,False,True,False,"Cumings,",...,None,None,None,None,None,None,None,1.0,1.0,71.2833
2,3,"Heikkinen, Miss. Laina",female,26.0,04-13-1912T00:00:00.002,04-13-1912T00:00:00-6:02,False,False,True,"Heikkinen,",...,None,None,None,None,None,None,None,1.0,3.0,7.9250
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,04-13-1912T00:00:00.003,04-14-1912T00:00:00-6:03,True,False,False,"Futrelle,",...,None,None,None,None,None,None,None,1.0,1.0,53.1000
4,5,"Allen, Mr. William Henry",male,35.0,04-13-1912T00:00:00.004,04-14-1912T00:00:00-6:04,False,False,True,"Allen,",...,None,None,None,None,None,None,None,0.0,3.0,8.0500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887,888,"Graham, Miss. Margaret Edith",female,19.0,04-13-1912T00:00:00.887,04-14-1912T00:00:00-6:887,True,False,False,"Graham,",...,None,None,None,None,None,None,None,1.0,1.0,30.0000
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,04-13-1912T00:00:00.888,04-14-1912T00:00:00-6:888,True,False,False,"Johnston,",...,None,None,None,None,None,None,None,0.0,3.0,23.4500
889,890,"Behr, Mr. Karl Howell",male,26.0,04-13-1912T00:00:00.889,04-14-1912T00:00:00-6:889,True,False,False,"Behr,",...,None,None,None,None,None,None,None,1.0,1.0,30.0000
890,891,"Dooley, Mr. Patrick",male,32.0,04-13-1912T00:00:00.890,04-14-1912T00:00:00-6:890,True,False,False,"Dooley,",...,None,None,None,None,None,None,None,0.0,3.0,7.7500
891,892,"Dawson, Mr. Jack",male,20.0,04-13-1912T00:00:00.891,04-14-1912T00:00:00-6:891,True,False,False,"Dawson,",...,None,None,None,None,None,None,None,NaN,NaN,NaN

In [18]:
all_df['Entrance'] = np.where(all_df['Main Deck Entrance'] == True, 'this is a true', 'this is a false') 
all_df['Entrance']

0       this is a true
1      this is a false
2      this is a false
3       this is a true
4      this is a false
            ...
887     this is a true
888     this is a true
889     this is a true
890     this is a true
891     this is a true
Name: Entrance, Length: 892, dtype: object

In [19]:
all_df['Entrance'] = np.where(all_df['Main Deck Entrance'] == True, 'Main Deck Entrance',
                              (np.where(all_df['South Entrance'] == True, 'South Entrance',
                                        (np.where(all_df['North Entrance'] == True, 'North Entrance', np.nan)))))

In [22]:
all_df['Entrance']

0      Main Deck Entrance
1          South Entrance
2          North Entrance
3      Main Deck Entrance
4          North Entrance
              ...
887    Main Deck Entrance
888    Main Deck Entrance
889    Main Deck Entrance
890    Main Deck Entrance
891    Main Deck Entrance
Name: Entrance, Length: 892, dtype: object

In [20]:
all_df.groupby('Sex')['PassengerId'].count()

Sex
-999        5
female    308
m           1
male      570
Name: PassengerId, dtype: int64

In [21]:
all_df.groupby('Sex')['PassengerId'].count().reset_index()

      Sex  PassengerId
0    -999            5
1  female          308
2       m            1
3    male          570