In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
startbucks = pd.read_csv("startbucks_Phoebe.csv")

In [3]:
startbucks2=startbucks.drop(['Unnamed: 25','Unnamed: 17'],axis=1)

In [4]:
startbucks2.rename(columns={'Unnamed: 20': 'd3', 'Unnamed: 21': 'd4','Unnamed: 22': 'd5','Unnamed: 23': 'd6','Unnamed: 24': 'd7' }, inplace=True)

In [5]:
day_list=['Monday','Tuesday', 'Wednesday','Thursday','Friday','Saturday','Sunday']

In [6]:
d_number_list=['d3','d4','d5','d6','d7']

In [7]:
for x in d_number_list:
    startbucks2['time']=startbucks2[x].str.extract(r'(\d{1,2}.{10,20}M|Closed)')
    for n in day_list:
        startbucks2['day_record']=startbucks2[x].str.contains(n, regex=True)
        startbucks2.loc[startbucks2['day_record']==True, n]=startbucks2['time']

In [8]:
for n in range(len(day_list)):
    startbucks2['time']=startbucks2['Today'].str.extract(r'(\d{1,2}.{10,20}M|Closed)')
    if n>len(day_list)-2:
        startbucks2.loc[(startbucks2[day_list[n]].isna()==True) & (startbucks2[day_list[0]].isna()==True), day_list[n]] = startbucks2['time']
    else:
        startbucks2.loc[(startbucks2[day_list[n]].isna()==True) & (startbucks2[day_list[n+1]].isna()==True), day_list[n]] = startbucks2['time']
for n in range(len(day_list)):
    startbucks2['time']=startbucks2['Tomorrow'].str.extract(r'(\d{1,2}.{10,20}M|Closed)')
    startbucks2.loc[startbucks2[day_list[n]].isna()==True, day_list[n]] = startbucks2['time']

In [9]:
startbucks2.columns

Index(['No.', 'storeNumber', 'countryCode', 'ownershipTypeCode', 'schedule',
       'slug', 'latitude', 'longitude', 'streetAddressLine1',
       'streetAddressLine2', 'streetAddressLine3', 'city',
       'countrySubdivisionCode', 'postalCode', 'currentTimeOffset',
       'windowsTimeZoneId', 'olsonTimeZoneId', 'Today', 'Tomorrow', 'd3', 'd4',
       'd5', 'd6', 'd7', 'time', 'day_record', 'Monday', 'Tuesday',
       'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
      dtype='object')

In [10]:
startbucks2=startbucks2.drop(['Today', 'Tomorrow', 'd3', 'd4','d5', 'd6', 'd7', 'time', 'day_record'],axis=1)

In [11]:
startbucks2.rename(columns={'Sunday':'Sun', 'Monday':'Mon', 'Tuesday':'Tue','Wednesday':'Wed', 'Thursday':'Thu', 'Friday':'Fri', 'Saturday':'Sat'}, inplace=True)

In [12]:
startbucks2

,No.,storeNumber,countryCode,ownershipTypeCode,schedule,slug,latitude,longitude,streetAddressLine1,streetAddressLine2,...,currentTimeOffset,windowsTimeZoneId,olsonTimeZoneId,Mon,Tue,Wed,Thu,Fri,Sat,Sun
0,11239,20208-201324,US,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 3:0...",university-of-michigan-ross-school-701-tappan-...,42.272958,-83.737583,701 Tappan Avenue,NaN,...,-240,Eastern Standard Time,GMT-05:00 America/Detroit,8:00 AM to 3:00 PM,8:00 AM to 3:00 PM,8:00 AM to 3:00 PM,8:00 AM to 3:00 PM,8:00 AM to 3:00 PM,8:00 AM to 3:00 PM,8:00 AM to 3:00 PM
1,11240,2482-27691,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 10:...",s-university-church-1214-south-university-ave-...,42.274899,-83.734125,1214 South University Ave,NaN,...,-240,Eastern Standard Time,GMT-05:00 America/Detroit,5:30 AM to 10:00 PM,5:30 AM to 10:00 PM,5:30 AM to 10:00 PM,5:30 AM to 10:00 PM,5:30 AM to 10:00 PM,6:00 AM to 9:00 PM,6:00 AM to 9:00 PM
2,11241,76576-99389,US,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 9:0...",target-ann-arbor-t-634-2000-waters-rd-ann-arbo...,42.243722,-83.769394,2000 Waters Rd,NaN,...,-240,Eastern Standard Time,GMT-05:00 America/Detroit,8:00 AM to 9:00 PM,8:00 AM to 9:00 PM,8:00 AM to 9:00 PM,8:00 AM to 9:00 PM,8:00 AM to 9:00 PM,8:00 AM to 9:00 PM,8:00 AM to 9:00 PM
3,11242,19556-194345,US,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 9:0...",target-novi-t-1465-27100-wixom-rd-novi-mi-4837...,42.488351,-83.535337,27100 Wixom Rd,NaN,...,-240,Eastern Standard Time,GMT-05:00 America/Detroit,8:00 AM to 9:00 PM,8:00 AM to 9:00 PM,8:00 AM to 9:00 PM,8:00 AM to 9:00 PM,8:00 AM to 9:00 PM,8:00 AM to 9:00 PM,8:00 AM to 9:00 PM
4,11243,23876-232124,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 9:0...",ann-arbor-saline-lohr-3141-ann-arbor-saline-rd...,42.241399,-83.768042,3141 Ann Arbor-Saline Rd,NaN,...,-240,Eastern Standard Time,GMT-05:00 America/Detroit,5:30 AM to 9:00 PM,5:30 AM to 9:00 PM,5:30 AM to 9:00 PM,5:30 AM to 9:00 PM,5:30 AM to 9:00 PM,6:00 AM to 9:00 PM,6:00 AM to 8:00 PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3789,17762,53133-281940,DE,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 8:0...",am-wasserturm-o-7-18-a-mannheim-bw-68161-de,49.484029,8.473624,O7 18 a,NaN,...,60,W. Europe Standard Time,GMT+00:00 Europe/Berlin,8:00 AM to 8:00 PM,8:00 AM to 8:00 PM,8:00 AM to 8:00 PM,8:00 AM to 8:00 PM,8:00 AM to 8:00 PM,8:00 AM to 8:00 PM,10:30 AM to 8:00 PM
3790,17763,53136-282095,DE,LS,"[{'dayName': 'Today', 'hours': '10:30 AM to 6:...",hauptstrasse-137-hauptstrasse-137-heidelberg-b...,49.411818,8.706223,Hauptstrasse 137,NaN,...,60,W. Europe Standard Time,GMT+00:00 Europe/Berlin,10:30 AM to 6:00 PM,10:30 AM to 6:00 PM,10:30 AM to 6:00 PM,10:30 AM to 6:00 PM,8:00 AM to 7:30 PM,8:00 AM to 7:30 PM,8:00 AM to 7:30 PM
3791,17764,56379-290257,DE,LS,"[{'dayName': 'Today', 'hours': '10:00 AM to 7:...",sof-heidelberg-hauptstr-9-13-heidelberg-bw-691...,49.410002,8.694501,Hauptstr. 9-13,NaN,...,60,W. Europe Standard Time,GMT+00:00 Europe/Berlin,10:00 AM to 7:00 PM,10:00 AM to 7:00 PM,10:00 AM to 7:00 PM,10:00 AM to 7:00 PM,10:00 AM to 7:00 PM,10:00 AM to 7:00 PM,Closed
3792,17765,58823-293084,DE,LS,"[{'dayName': 'Today', 'hours': '9:30 AM to 6:0...",montabaur-fashion-outlet-am-fashion-outlet-72-...,50.443898,7.828393,Am Fashion Outlet 72,NaN,...,60,W. Europe Standard Time,GMT+00:00 Europe/Berlin,9:30 AM to 6:00 PM,9:30 AM to 6:00 PM,9:30 AM to 6:00 PM,9:30 AM to 6:00 PM,9:30 AM to 8:00 PM,9:30 AM to 8:00 PM,Closed
3793,17766,53119-282042,DE,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 8:0...",forum-mittelrhein-goergenstrasse-koblenz-rp-56...,50.358221,7.596486,Goergenstrasse,NaN,...,60,W. Europe Standard Time,GMT+00:00 Europe/Berlin,8:00 AM to 8:00 PM,8:00 AM to 8:00 PM,8:00 AM to 8:00 PM,8:00 AM to 8:00 PM,8:00 AM to 8:00 PM,9:00 AM to 8:00 PM,12:00 PM to 6:00 PM

In [13]:
startbucks2.columns.get_loc('olsonTimeZoneId')

16

In [14]:
col_name=startbucks2.columns.tolist()
col_name.insert(17,'GMT')
col_name.insert(18,'GMT_city')
startbucks2=startbucks2.reindex(columns=col_name)

In [15]:
gmt_split = startbucks2['olsonTimeZoneId'].str.split(' ', expand=True)
gmt_split

              0                1
0     GMT-05:00  America/Detroit
1     GMT-05:00  America/Detroit
2     GMT-05:00  America/Detroit
3     GMT-05:00  America/Detroit
4     GMT-05:00  America/Detroit
...         ...              ...
3789  GMT+00:00    Europe/Berlin
3790  GMT+00:00    Europe/Berlin
3791  GMT+00:00    Europe/Berlin
3792  GMT+00:00    Europe/Berlin
3793  GMT+00:00    Europe/Berlin

[3794 rows x 2 columns]

In [16]:
startbucks2['GMT']=gmt_split[0]

In [17]:
startbucks2['GMT_city']=gmt_split[1]

In [18]:
startbucks2.count()

No.                       3794
storeNumber               3794
countryCode               3794
ownershipTypeCode         3794
schedule                  3763
slug                      3794
latitude                  3794
longitude                 3794
streetAddressLine1        3794
streetAddressLine2         540
streetAddressLine3         316
city                      3794
countrySubdivisionCode    3794
postalCode                3794
currentTimeOffset         3794
windowsTimeZoneId         3794
olsonTimeZoneId           3794
GMT                       3794
GMT_city                  3794
Mon                       3763
Tue                       3763
Wed                       3763
Thu                       3763
Fri                       3763
Sat                       3763
Sun                       3763
dtype: int64

In [19]:
len(startbucks2[(startbucks2.latitude > 90) | (startbucks2.latitude < -90)])

0

In [20]:
startbucks2['latitude'].describe()

count    3794.000000
mean       38.691510
std         5.344120
min        19.645873
25%        34.290524
50%        39.382238
75%        41.968567
max        64.854451
Name: latitude, dtype: float64

In [21]:
len(startbucks2[(startbucks2.longitude > 180) | (startbucks2.longitude < -180)])

0

In [22]:
startbucks2['city']=startbucks2['city'].str.title()

In [24]:
startbucks2['countryCode']=startbucks2['countryCode'].str.upper()

In [26]:
startbucks2['countrySubdivisionCode']=startbucks2['countrySubdivisionCode'].str.upper()

In [25]:
startbucks2['countryCode']

0       US
1       US
2       US
3       US
4       US
        ..
3789    DE
3790    DE
3791    DE
3792    DE
3793    DE
Name: countryCode, Length: 3794, dtype: object

In [29]:
startbucks2.isnull().sum()

No.                       0
storeNumber               0
countryCode               0
ownershipTypeCode         0
schedule                  0
slug                      0
latitude                  0
longitude                 0
streetAddressLine1        0
streetAddressLine2        0
streetAddressLine3        0
city                      0
countrySubdivisionCode    0
postalCode                0
currentTimeOffset         0
windowsTimeZoneId         0
olsonTimeZoneId           0
GMT                       0
GMT_city                  0
Mon                       0
Tue                       0
Wed                       0
Thu                       0
Fri                       0
Sat                       0
Sun                       0
dtype: int64

In [28]:
startbucks2 = startbucks2.fillna('Null')

In [30]:
startbucks2.to_csv('startbucks_final_Phoebe.csv', index=False)